[Unit]
Description=Hadoop YARN ResourceManager
Documentation=https://hadoop.apache.org/docs/stable/hadoop-yarn/hadoop-yarn-site/YARN.html
After=network.target network-online.target zookeeper.service hadoop-hdfs-namenode.service
Wants=network-online.target
Requires=zookeeper.service hadoop-hdfs-namenode.service

[Service]
Type=forking
User={{.Global.user}}
Group={{.Global.group}}
Environment="JAVA_HOME={{.Global.java_home}}"
Environment="HADOOP_HOME={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}"
Environment="HADOOP_CONF_DIR={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/etc/hadoop"
Environment="YARN_CONF_DIR={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/etc/hadoop"
ExecStart={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/bin/yarn --daemon start resourcemanager
ExecStop={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/bin/yarn --daemon stop resourcemanager
PIDFile={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/pids/yarn-{{.Global.user}}-resourcemanager.pid
Restart=on-failure
RestartSec=10

# 安全加固
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
