[Unit]
Description=Apache Kafka Server (broker)
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
Environment="JAVA_HOME={{GLOBAL.environments.JAVA_HOME}}"
Environment="PATH={{GLOBAL.environments.JAVA_HOME}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
User={{ GLOBAL.run_user }}
Group={{ GLOBAL.run_user }}
ExecStart=/data/localization/kafka/bin/kafka-server-start.sh /data/localization/kafka/config/server.properties
ExecStop=/data/localization/kafka/bin/kafka-server-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

