[Unit]
Description=Apache Zookeeper server
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
Environment="JAVA_HOME={{GLOBAL.environments.JAVA_HOME}}"
Environment="PATH={{GLOBAL.environments.JAVA_HOME}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
User={{ GLOBAL.run_user }}
Group={{ GLOBAL.run_user }}
ExecStart=/data/localization/kafka/bin/zookeeper-server-start.sh /data/localization/kafka/config/zookeeper.properties
ExecStop=/data/localization/kafka/bin/zookeeper-server-stop.sh
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target

