[Unit]
Description=Hadoop HDFS JournalNode
Documentation=https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HDFSHighAvailabilityWithQJM.html
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=forking
User=bigdata
Group=bigdata
Environment="JAVA_HOME=/data/jdk/"
Environment="HADOOP_HOME=/data/localization/hadoop"
Environment="HADOOP_CONF_DIR=/data/localization/hadoop/etc/hadoop"
ExecStart=/data/localization/hadoop/bin/hdfs --daemon start journalnode
ExecStop=/data/localization/hadoop/bin/hdfs --daemon stop journalnode
PIDFile=/data/localization/hadoop/pids/hadoop-bigdata-journalnode.pid
Restart=on-failure
RestartSec=10

# 安全加固
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
