[Unit]
Description=Hadoop HDFS DataNode
Documentation=https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HDFSHighAvailabilityWithQJM.html
After=network.target network-online.target hadoop-hdfs-namenode.service
Wants=network-online.target
Requires=hadoop-hdfs-namenode.service

[Service]
Type=forking
User=bigdata
Group=bigdata
Environment="JAVA_HOME=/data/jdk/"
Environment="HADOOP_HOME=/data/localization/hadoop"
Environment="HADOOP_CONF_DIR=/data/localization/hadoop/etc/hadoop"
ExecStart=/data/localization/hadoop/bin/hdfs --daemon start datanode
ExecStop=/data/localization/hadoop/bin/hdfs --daemon stop datanode
PIDFile=/data/localization/hadoop/pids/hadoop-bigdata-datanode.pid
Restart=on-failure
RestartSec=10

# 安全加固
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
