[Unit]
Description=Hadoop HDFS NameNode
Documentation=https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/HDFSHighAvailabilityWithQJM.html
After=network.target network-online.target zookeeper.service hadoop-hdfs-journalnode.service hadoop-hdfs-zkfc.service
Wants=network-online.target
Requires=zookeeper.service hadoop-hdfs-journalnode.service hadoop-hdfs-zkfc.service

[Service]
Type=forking
User={{.Global.user}}
Group={{.Global.group}}
Environment="JAVA_HOME={{.Global.java_home}}"
Environment="HADOOP_HOME={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}"
Environment="HADOOP_CONF_DIR={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/etc/hadoop"
ExecStart={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/bin/hdfs --daemon start namenode
ExecStop={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/bin/hdfs --daemon stop namenode
PIDFile={{.Global.install_base_dir}}/{{.Instance.Vars.install_subdir}}/pids/hadoop-{{.Global.user}}-namenode.pid
Restart=on-failure
RestartSec=10

# 安全加固
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
